@font-face {
  font-family: 'DisposableDroidBB';
  src: url('./fonts/DisposableDroidBB.ttf') format('truetype');
}

@font-face {
  font-family: 'DisposableDroidBB_bld';
  src: url('./fonts/DisposableDroidBB_bld.ttf') format('truetype');
}

body {
  font-family: 'DisposableDroidBB_bld';
  font-size: 16pt;
  overflow: auto;
}
